.site-wrapper {
  width: 100%;
  height: 100%;
}
.cover-container {
  max-width: 900px;
  height:290px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
p#insertable, #date {
  min-height: 50px;
}
em#dated {
  display: block;
  color: #adadad;
}
.blinkCaret::after {
  content: '';
  border: 1px solid black;
  width: 1px;
  height: 100%;
  opacity: 1;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
.mb1 {
  margin-bottom: 1em;
}
.mb2 {
  margin-bottom: 2em;
}
.mb0 {
  margin-bottom: 0em;
}
.hidden {
  display: none;
}
